@media screen and (max-width: 576px) {
     /* navbar responsive start */
  .navber{
    margin: 40px 20px 0;
  }
    .navber ul, .fist-child{
      border: none;
      background: none;
    }
    .navber ul li a {
      display: none;
    
    }
    .fa-solid {
      display: block;
      /* margin-left:35px; */
      align-items: center;
    }
   /* navbar responsive start */


  /* banner responsive start */

  .banner-container{
    flex-direction: column;
  }
  .banner-titile{
   margin: 50px 20px 0;
   width: 100%;
   text-align: center;
}

 .banner-titile h1, .sub-title{
  font-size: 35px;
  font-weight: 800;
 }
 .banner-titile p br{
  display: none;
 }
 .banner-titile p{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
 }
 .btn, .btn2 {
  max-width: 150px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 550;
 }

.banner-img{
  height: 550px;
  max-width: 90%;
  margin-left: 25vh;
  background-image: url(./images/Image1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.workout-btn{
  margin-top: 100px;
  margin-left: 160px;
  height: auto;
  width: 157px;
  padding: 10px;
  text-align: center;
}
#workout-btn-title, #video-btn-title{
  font-size: 25px;
  font-weight: 700;
}
#workout-btn-text, #video-btn-text{
  text-align: left;
  justify-content: center;
}
.video-btn{
  margin-top: 100px;
  margin-left: -100px;
  height: auto;
  width: 166px;
  padding: 10px;
}
#circle{
  height: 50px;
}
/* banner responsive end */

/* habit section responsive start */
.habits_section{
    width: 90%;
    margin-top: -130px;
  }
  
  .habit_img_container{
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 98%;
  }
  /* habit section responsive end */

  
/* run section responsive start */
.run_section{
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 1050px;
  }
  .run_title{
     margin: 40px 40px 0px;
  }
  .run_title p{
  
    line-height: 120%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    
  }
  #run-btn{
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
  /* width: 80%; */
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .run_img_area img{
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  /* run section responsive end */
}