@media screen and (max-width: 576px) { 
  /* navbar responsive start */
  .navbar{
    margin: 40px 20px 0;
    margin-left: 50px;
  }
    .navbar ul, .fist-child{
      border: none;
      background: none;
    }
    .navbar ul li a {
      display: none;
    
    }
    .fa-solid {
      margin-left:-30px;
      display: block;
      align-items: center;
    }
   /* navbar responsive end */


  /* banner responsive start */
  .banner-container{
    flex-direction: column;
  }
  .banner-title{
   margin: 50px 20px 0;
   width: 85%;
   text-align: center;
   justify-content: center;
}

 .banner-title h1, .sub-title{
  font-size: 35px;
  font-weight: 800;
 }
 .banner-title p br{
  display: none;
 }
 .banner-title p{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
 }
 .btn, .btn2 {
  max-width: 150px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 550;
 }

.banner-img{
  height: 550px;
  max-width: 90%;
  margin-left: 25vh;
  background-image: url(./images/Image1.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
}

.workout-btn{
  margin-top: 100px;
  margin-left: 160px;
  height: auto;
  width: 157px;
  padding: 10px;
  text-align: center;
}
#workout-btn-title, #video-btn-title{
  font-size: 25px;
  font-weight: 700;
}
#workout-btn-text, #video-btn-text{
  text-align: left;
  justify-content: center;
}
.video-btn{
  margin-top: 100px;
  margin-left: -100px;
  height: auto;
  width: 166px;
  padding: 10px;
}
#circle{
  height: 50px;
}
/* banner responsive end */

/* habit section responsive start */
.habits_section{
    width: 90%;
    margin-top: -130px;
  }
  
  .habit_img_container{
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 98%;
  }
  /* habit section responsive end */

  
/* run section responsive start */
.run_section{
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 1050px;
  }
  .run_title{
     margin: 40px 40px 0px;
  }
  .run_title p{
  
    line-height: 120%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    
  }
  #run-btn{
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .run_img_area img{
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  /* run section responsive end */

  
/* product section responsive start */
.product-container {
    padding: 0 10px;
  }
  .product-container h2{
    font-size: 40px;
  
  }
  .product-container p{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .product-item {
    width: 47%;
    margin: 7px;
  }
  .product-item h3 {
    font-size: 20px;
  }
  .price {
    font-size: 18px;
  }
  .product-item p {
    font-size: 14px;
  }
  .product-btn {
    padding: 8px 16px;
  }
  /* product section responsive end */

  /* bmi section responsive start */
.bmi_title_container{
    width: 90%;
    margin: 0 20px 30px 30px;
    margin-top: 40px;
  }
  .bmi_title_container p{
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.5px;
  }
  .bmi_chart_section{
    flex-direction: column;
  }
  .bmi_chart{
    margin-left: 40px;
  }
  .bmi-calculator{
    width: 80%;
    margin-left: 40px;
    margin-top: -50px;
  }
  .bmi-calculator-title p{
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.5px;
  }
  #bmi-btn{
    border-radius: 50px;
    font-size: 25px;
    width: 250px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }
  /* bmi section responsive end */

  /* our team responsive start */
.our_team_section{
    width: 90%;
    height: 90%;
    margin-top: -50px;
  }
  .team_title{
    width: 80%;       
    margin: 10px 10px;
  }
  .team_title br{
    display: none;
  }
  .team_title p{
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.5px;
  }
  .Team_img_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* our team responsive end */

  
/* footer responsive start */
.footer_area{
    margin-top: -30px;
    width: 100%;
    height: 100%;
   }
   .footer_container{
     flex-direction: column;
     width: 90%;
     height: 100%;
     margin-top: 44px;
   }
   .left_colm{
     width: 90%;
   }
   .left_colm h1{
     font-size: 80px;
   }
   .left_colm p{
     font-size: 20px;
     font-weight: 300;
     line-height: 150%;
     letter-spacing: 0.5px;
   }
   .right-colms h2{
     font-size: 32px;
   }
   .right-colms a{
     font-size: 22px;
   }
   hr.line_break{
     width: 90%;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 20px;
   }
   .copyright_title{
   margin: 0 25px; 
   padding-bottom:  20px;
   }
   /* footer responsive end */
}